body,
.main-container,
.layout-container {
  overflow: hidden;
}
.main-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("src/images/fondo-portada.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.layout-container {
  display: grid;
  height: 100%;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: auto 15%;
  align-items: center;
}

.comming-soon-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: auto;
  height: min-content;
  color: var(--secondary-color);
}
.main-logo-container {
  grid-area: unset;
  padding: 0 5vw;
  z-index: 2;
}
.img-container {
  grid-column: 3/4;
  grid-row: 1/2;
  z-index: 1;
}
.img-container img {
  width: 20rem;
  margin-bottom: 10rem;
}
.gray-rectangle {
  width: 20vw;
  height: 60vh;
  left: -20px;
  top: 70px;
  background-color: var(--gray);
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
}

footer {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-top: solid var(--gray) 1px;
  padding: 0 2rem;
}

footer .social-media-container .social-icon {
  transform: none;
}

footer h3 {
  font-size: 1rem;
}

@media all and (max-width: 980px) {
  .layout-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 20%;
  }
  .main-logo-container {
    width: 94vw;
    margin-left: 0;
  }
  .title-container {
    grid-column: 1/-1;
  }
  .section-title {
    writing-mode: unset;
    transform: none;
  }
  .main-logo-container {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .img-container,
  .gray-rectangle {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  footer {
    background-color: var(--primary-color);
    grid-row: 3/4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    z-index: 5;
  }
}

@media all and (max-width: 767px) {
    .main-container{
        height: 90vh;
    }
  .title-container {
    width: min-content;
    justify-self: center;
  }
  .comming-soon-title {
    font-size: 0.8rem;
  }
  footer{
    padding: 2rem 0 0 0;
  }
  footer h3 {
    font-size: 0.5rem;
  }
}
