* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --gray: #808080;
  --ligth-gray: #f2f2f2;
  --green: #6eff6e;
  --pp-neue-bit: 'PPNeueBit', Helvetica, Arial, Lucida, sans-serif;
}

@font-face {
  font-family: 'PPNeueBit';
  src: url('../fonts/PPNeueBit-Bold.otf');
}

::-webkit-scrollbar-track {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--ligth-gray);
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Syne', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 2rem;
  letter-spacing: 2px;
}

ul {
  list-style: none;
}

a {
  color: var(--ligth-gray);
  text-decoration: none;
}

button {
  font-family: var(--pp-neue-bit);
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.7rem 1.9rem;
  color: var(--primary-color);
  background-color: var(--green);
  border: solid var(--primary-color) 2px;
  transition: all 0.5s;
}

button:hover {
  color: var(--green);
  background-color: var(--primary-color);
  border: solid var(--ligth-gray) 2px;
  transition: all 0.5s;
}

.social-icon,
.close-icon {
  /* This value will multiple the size of the icon  */
  --ggs: 1.5;
}

.animate {
  opacity: 0;
}

/************ MAIN MENU ****************/
nav {
  position: fixed;
  top: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  padding: 0.8rem 1.5rem;
  z-index: 1;
}

.menu-logo {
  background-color: var(--green);
  max-width: 100px;
  padding: 0.3rem;
}

.menu-button {
  font-family: var(--pp-neue-bit);
  cursor: default;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  text-transform: uppercase;
  filter: drop-shadow(0px 0px 6px #000);
}

.menu-btn-active {
  animation: slide-out-r 1s ease 0s 1 normal forwards;
}

.menu-modal {
  display: none;
  grid-template-rows: 5rem auto 5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
}

.menu-active {
  display: grid;
  animation: slide-in-r 1s ease 0s 1 normal forwards;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem;
  padding-right: 1rem;
  border-bottom: solid var(--gray) 1px;
}

.close-icon {
  background-color: var(--green);
  color: var(--primary-color);
  box-shadow: 4px 4px 8px #0d0d0d, -4px -4px 8px #353535;
}

.main-menu {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5rem 2rem;
}

.main-menu ul {
  font-family: 'Syne', sans-serif;
}

.main-menu ul li {
  opacity: 0;
  padding-bottom: 1rem;
}

.main-menu ul li a:hover {
  color: var(--green);
  -webkit-animation: flicker-5 8s linear infinite both;
  animation: flicker-5 8s linear infinite both;
}

.menu-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid var(--gray) 1px;
  margin: 0 1rem;
}

.social-icon {
  margin: 0 2rem;
}

/* Layout Horizontal Containers */
.horizontal-container {
  width: 600%; /* Has to adjust according to # of sections * 100 */
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  max-width: none;
}

.horizontal-section {
  width: 100%;
  height: 100vh;
  will-change: transform;
}

/************ PORTADA **************/
.portada {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('../images/fondo-portada.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  overflow-x: auto;
}

.video-container {
  grid-row: 2/4;
  grid-column: 2/3;
  align-self: center;
  padding-left: 5vw;
  position: relative;
  width: 100%;
  z-index: -1;
}

.main-video {
  width: 120%;
}

.video-container::after {
  position: absolute;
  top: 0;
  left: 5vw;
  width: 120%;
  height: 100%;
  content: '';
  background-image: linear-gradient(
    -90deg,
    #000000,
    rgba(11, 39, 65, 0.32) 87%,
    rgba(0, 0, 0, 0)
  );
}

.main-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: 2/3;
  padding-right: 5vw;
}

.main-logo {
  width: 100%;
}

.logo-subtitle {
  font-family: var(--pp-neue-bit);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1em;
  color: var(--green);
  text-transform: uppercase;
}

.main-title-container {
  grid-area: 3/3;
  margin-top: 2rem;
  width: 380px;
}

.txt-rotate {
  font-family: var(--pp-neue-bit);
  font-size: 2rem;
  color: var(--green);
}

.rectangle {
  position: absolute;
  background-color: var(--gray);
  bottom: 40px;
  left: 40px;
  width: 300px;
  height: 600px;
  z-index: -2;
}

/************ NOSOTROS **************/
.nosotros {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: repeat(1fr);
  column-gap: 20px;
  align-items: center;
  align-content: center;
}

.section-title {
  font-size: 7vh;
  font-weight: 800;
  color: var(--green);
  grid-row: 1 / span 100;
  text-align: center;
  writing-mode: vertical-rl;
  line-height: 7vh;
  transform: rotate(180deg);
}

.nosotros-text {
  grid-column: 2/3;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  padding: 20px;
  letter-spacing: 2px;
}

.nosotros-list {
  grid-column: 3/4;
  font-size: 2rem;
}

.subtitle {
  color: var(--green);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.nosotros-img {
  grid-column: 3/4;
  grid-row: 2/3;
  width: fit-content;
  box-shadow: 20px 20px 0 -4px var(--gray);
}
.nosotros-img img {
  width: 40vw;
}

.nosotros-2 {
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 10vh;
}

/************ EQUIPO **************/
.equipo,
.trabajo {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: repeat(1fr);
  align-items: center;
  align-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 30vh;
  height: 30vh;
  padding: 0.5rem;
  object-fit: cover;
}

.profile-details {
  margin-top: 1rem;
  text-align: center;
}

.profile-desc {
  font-size: 1.5rem;
}

/************ TRABAJO **************/
.trabajo {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url('src/images/luna-oceano.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3%;
  cursor: default;
  background-color: var(--ligth-gray);
  border: solid 4px var(--gray);
  box-shadow: 15px 15px 0 -4px var(--ligth-gray), 15px 15px var(--gray);
  transition: all 0.5s;
}
.card:hover {
  transform: translate3d(-0.5rem, -0.5rem, 0);
  box-shadow: 23px 23px 0 -4px var(--ligth-gray), 23px 23px var(--gray);
  transition: all 0.5s;
}
.card-details {
  max-width: 300px;
  padding: 0.5rem;
}
.card-details h3 {
  color: var(--primary-color);
  margin-bottom: 0.2rem;
}
.card-details p,
.card-details a {
  color: var(--primary-color);
  font-size: 0.8rem;
}
.card-desc {
  margin-bottom: 0.5rem;
}
.trabajo-btn {
  grid-column: 1/ -1;
  justify-self: center;
  align-self: center;
  margin-top: 2rem;
}

/************ EXPERIENCIA **************/
.experiencia {
  background-color: var(--ligth-gray);
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: 1fr;
  align-items: center;
  align-content: center;
  z-index: -1;
}
.experiencia-grid-container {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 16rem));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}
.experiencia-title {
  color: var(--primary-color);
  grid-row: 1 / span 100;
  grid-column: 2/3;
}
.brand {
  width: fit-content;
  align-items: center;
}
.brand img {
  object-fit: contain;
  width: 18vh;
}
/************ CONTACTO **************/
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto-title {
  writing-mode: unset;
  transform: rotate(0);
  margin-bottom: 1rem;
}
.mail-container {
  margin-top: 60px;
}
.social-media-container {
  display: flex;
  margin-top: 2rem;
}
.social-media-container .social-icon {
  margin: 0 1rem;
}

.scroll-down-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  filter: drop-shadow(0px 0px 2px #000);
  transform: translateY(-35px);
  animation: slide-bottom 1s ease 3s 1 normal forwards,
    flicker-5 8s linear infinite both;
}
.scroll-down-container p {
  font-family: var(--pp-neue-bit);
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/*** Responsive Styles Tablets & below ***/
@media all and (max-width: 980px) {
  .menu-modal {
    width: 100vw;
  }
  .video-container {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 94vw;
    padding: 0 3vw;
  }
  .video-container::after {
    width: 94vw;
    left: 3vw;
  }
  .main-video {
    width: 94vw;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
  .main-logo-container {
    grid-area: 2/1;
    width: 94vw;
    padding: 0 3vw;
    padding-top: 5rem;
    margin-left: 40px;
  }
  .main-title-container {
    width: 94vw;
    padding: 0 3vw;
    grid-area: 3/1;
  }
  .card-img {
    width: 90%;
    height: 90%;
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  button {
    font-size: 1.2rem;
  }
  .menu-modal {
    height: 90vh;
  }
  .main-menu {
    font-size: 2rem;
  }
  .nosotros,
  .equipo {
    background-color: var(--primary-color);
    grid-template-columns: 2rem 1fr;
    gap: 1;
  }
  .nosotros-img {
    position: absolute;
    bottom: -100px;
    right: 50px;
    grid-column: 2/3;
  }
  .nosotros-list {
    grid-column: 2/3;
  }
  .subtitle,
  p,
  .nosotros-list li {
    font-size: 1rem;
  }
  .nosotros-text {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .rectangle {
    display: none;
  }
  .grid-container {
    gap: 2rem;
  }
  .video-container {
    box-shadow: var(--gray) 5px 5px;
  }
  .portada-title {
    font-size: 1rem;
  }
  .txt-rotate {
    font-size: 1.5rem;
  }
  .profile {
    flex-direction: unset;
    justify-content: unset;
  }
  .profile-details {
    margin-top: 0;
    margin-left: 1rem;
    text-align: left;
  }
  .profile-name {
    font-size: 1rem;
    padding-bottom: 5px;
  }
  .profile-desc {
    font-size: 1rem;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }
  .trabajo-grid-container {
    width: 100%;
  }
  .card-img {
    display: none;
  }
  .trabajo-btn {
    justify-self: stretch;
  }
  .mail {
    font-size: 0.5rem;
  }
  .contacto-title {
    font-size: 1.5rem;
  }
  .social-media-container .social-icon {
    transform: scale(1);
  }
  .brand img {
    width: 70px;
  }
  .experiencia-grid-container {
    grid-template-columns: 50% 50%;
    gap: 0;
    margin-left: auto;
    margin-right: 0;
  }
  .scroll-down-container p {
    font-size: 0.8rem;
  }
}
